!!! 5
html
  head
    title Main
    link(rel='stylesheet', type='text/css', href='/css/app.css')
  body
    #content
      #markup_pane
      #style_pane
      #code_pane
      fieldset.pane
        legend Preview
        iframe.preview
    script(data-main='client/entry.js', src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js')
