!!! 5
html
  head
    title Main
    link(rel='stylesheet', type='text/css', href='app.css')
    script(type='text/javascript', src='/js/head.load.js')
    |<script type="text/javascript">
    |  head.js.apply(head, !{JSON.stringify(scripts)});
    |</script>
  body
    .Main(data-montage-id='main') Hello World
