!!! 5
html
  head
    title Main
    link(rel='stylesheet', type='text/css', href='/css/app.css')
    script(type='text/javascript', src='/js/head.load.js')
    |<script type="text/javascript">
    |  head.js.apply(head, !{JSON.stringify(scripts)});
    |</script>
  body
    //- markup / style will be live preview
    //- code will be 'run'
    div
      fieldset.pane
        legend
          label
            | Markup
            select.markup-flavor
              option HTML
              option Jade
        textarea.markup
      fieldset.pane
        legend
          label
            | Style
            select.style-flavor
              option CSS
              option Stylus
        textarea.style
      div(style='clear:both')
    div
      fieldset.pane
        legend
          label
            | Code
            select.code-flavor
              option JavaScript
              option CoffeeScript
              option LiveScript
              option Roy
              option ClojureScript
              option LOLcode
              option Brainfuck
              option Malbolge
        textarea.code
      fieldset.pane
        legend Preview
        iframe.preview
      div(style='clear:both')
    div
      button.submit Can Has Result?
