langUniqueId = Math.random().toString().slice(2)
asmTitle = flavors[0][0]
title = 'foo'

.LangPane
  fieldset.pane
    legend
      label
        span= title
        select.flavor
          each flavor in flavors
            option(value=flavor[1])= flavor[0]
    .tabs
      tab = {group: langUniqueId, title: asmTitle, class: 'input', checked: true}
      include tab
        textarea.input

      tab = {group: langUniqueId, title: asmTitle + ' (output)', class: 'output'}
      include tab
        textarea.output(disabled=true)

