.tinker-component
  //- markup / style will be live preview
  //- code will be 'run'
  div
    type = 'markup'
    flavors = [['HTML', 'html'], ['Jade', 'jade']]
    include lang-pane

    type = 'style'
    flavors = [['CSS', 'css'], ['Stylus', 'stylus']]
    include lang-pane

    div(style='clear:both')
  div
    type = 'code'
    - var flavors =
    -   [ ['JavaScript', 'javascript']
    -   , ['CoffeeScript', 'coffeescript']
    -   , ['LiveScript', 'livescript']
    -   , ['Roy', 'roy']
    -   , ['ClojureScript', 'clojurescript']
    -   , ['LOLcode', 'lolcode']
    -   , ['Brainfuck', 'brainfuck']
    -   , ['Malbolge', 'malbolge']
    -   ]
    include lang-pane

    fieldset.pane
      legend Preview
      iframe.preview
    div(style='clear:both')
  div
    button.submit Can Has Result?
