div.tinker-component
  //- markup / style will be live preview
  //- code will be 'run'
  div
    fieldset.pane
      legend
        label
          | Markup
          select.markup-flavor
            option HTML
            option Jade
      textarea.markup
    fieldset.pane
      legend
        label
          | Style
          select.style-flavor
            option CSS
            option Stylus
      .tabs
        tab = {group: 'style', title: 'Title 1', checked: true}
        include tab
          p Content 1

        tab = {group: 'style', title: 'Title 2'}
        include tab
          p Content 2

      textarea.style
      //-textarea.style-out
    div(style='clear:both')
  div
    fieldset.pane
      legend
        label
          | Code
          select.code-flavor
            option(value='javascript') JavaScript
            option CoffeeScript
            option LiveScript
            option Roy
            option ClojureScript
            option(value='lolcode') LOLcode
            option Brainfuck
            option Malbolge
      textarea.code
    fieldset.pane
      legend Preview
      iframe.preview
    div(style='clear:both')
  div
    button.submit Can Has Result?
