body
  background-image url('/images/coder-cat.jpg')
  opacity: 0.6


fieldset.pane
  height 250px
  min-width 300px
  width 44%
  float left
  margin-right 15px

  textarea, #preview
    width 98%
    height 220px

  #preview
    background white

button#submit
  position relative
  left -3.5%
  display block
  margin 20px auto
  padding 15px 30px
